div {
    color: rgb(241, 235, 235);
    background-color: #34495E;
    border-radius: 20px;
    padding: 21px;
}
.text1 {
    margin-bottom: 20px;

}
.text2 {
    margin-bottom: 20px;

}