*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
display: flex;
width: 420px;
height: 426px;
margin: 10%;
padding: 32px;
flex-direction: column;
justify-content: center;
border-radius: 20px;
box-shadow: 0px 20px 32px 0px rgba(96, 97, 112, 0.24), 0px 2px 8px 0px rgba(40, 41, 61, 0.08);
}
svg{
display: flex;
justify-content: flex-end;
}
.krest{
    margin-left: 332px;
}
h1{
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    margin-bottom: 24px; 
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }
   input{
    width: 338px;
    height: 41px;
   }
    .email{
    padding: 7px 16px;
    border: 1px solid var(--text-outline, #CFD8DC);
    border-radius: 12px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin-bottom: 7px;
  }
  .email:focus{
    border-radius: 12px;
    border: 1px solid var(--primary-main-color, #FFE44D);
    caret-color: #FFAA0D;
  }
  .password{
    display: flex;
    padding: 14px 16px;
    border-radius: 12px;
    border: 1px solid var(--text-outline, #CFD8DC);
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin-bottom: 24px; 
  }
  p{
    width: 324px;
    color: var(--text-secondary-text, #7B8E98);
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 24px; 
  }
  .button1{
    display: flex;
    justify-content: center;
    border-radius: 55px;
    background: #FFE44D;
    font-family: 'Nunito', sans-serif;
    border-bottom: #FFE44D;
    border-color: #FFE44D;
    border-right: #FFE44D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .button2{
    background-color: white;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 55px;
    border: 1px solid var(--text-outline, #CFD8DC);
  }