* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 200px;
    height: 200px;
   
}
#red{
    background-color: red;
}
#green{
    background-color: green;
    position: absolute;
    left: 70px;
    top: 70px;
    z-index: 2;
   }
   #green:hover{
    width: 300px;
    height: 300px;
    transform: rotate(-45deg);
    transition: 1s;
   }
#blue{
    background-color: blue;
    position: absolute;
    left: 140px;
    top: 140px;
}
